.buku{
    width: 100%;
    padding: 10px;
    border: 1px solid maroon;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    display: flex;
}

.gambar-buku{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-right: 20px;
    width: 15%;
}

.gambar-buku img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.konten-buku{
    flex: 1;
}

.konten-buku div.judul-buku{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    font-family: monospace;
    margin-bottom: 10px;
}

.konten-buku div.penulis-buku{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.konten-buku div.date-buku{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.konten-buku div.penerbit-buku{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.konten-buku div.harga-buku{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}
